<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>
		{% block header %}
			{% if app.user %}
				<a href="{{ path('app_logout') }}">Déconnecter</a>
			{% else %}
				<a href="{{ path('app_login') }}">Connecter</a>
				<a href="{{ path('app_register') }}">S'incrire</a>
			{% endif %}
		{% endblock %}
	</header>

	<body>
		{% block body %}{% endblock %}
	</body>

	<footer>
		{% block footer %}
			<div class="row">
				<div class="bg-primary">
					<a href="#">Mentions Légales</a>
					<a href="#">Contact</a>
					<a href="#">Se connecter</a>
					<a href="#">S'inscrire'</a>
				</div>
				<div class="col-5">
					<h4>Suivez-nous</h4>
					<a href="#">RS icon</a>
					<a href="#">RS icon</a>
					<a href="#">RS icon</a>
				</div>

			</div>
		{% endblock %}
	</footer>
</html>
