{% extends 'base.html.twig' %}

{% block title %}Annonces sur
	{{ app.request.get('search_form')['city'] }}
{% endblock %}

{% block body %}

	{# form de recherche #}
	{{ render_esi(path('app_search')) }}
	{# ajouter contenu du form #}

	<div class="container">
		{% if offers %}
			<h1>
				{{ offers|length == 1 ?
					 "Nous avons trouvé 1 offre sur " ~ app.request.get('search_form')['city'] ~ "."
					:
					"Voici les " ~ offers|length ~ " offres sur " ~ app.request.get('search_form')['city'] ~ "."
				}}
			</h1>
		{% endif %}

		{% if offers is empty %}
			<p>Il n'y pas d'offres pour le moment
			</p>

		{% endif %}

		{% for offer in offers %}
			<div>
				<img src="{{ asset('media/offer/' ~ offer.media.name ~ ".jpg") }}" alt="">
				<h3>{{ offer.title }}</h3>
				<p>{{ offer.content }}</p>
				<p>Annonce déposée par :
					{{ offer.user.firstname }}
					{{ offer.user.name }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
