{% extends 'base.html.twig' %}

{% block title %}Annonces
	{{ app.request.get('search_dto') ? "sur "~app.request.get('search_dto')['city'] : "" }}
{% endblock %}

{% block body %}

	{# form de recherche #}
	{{ render_esi(path('app_search')) }}

	<div class="container">
		<h3>
			{% if app.request.get('search_dto')['city'] is defined %}
				{{ pagination.getTotalItemCount == 1 ?
				"Nous avons trouvé 1 offre sur " ~ app.request.get('search_dto')['city'] ~ "."
				:
				"Voici les " ~ pagination.getTotalItemCount ~ " offres sur " ~ app.request.get('search_dto')['city'] ~ "." }}
			{% else %}
				Veuillez effectuer une recherche dans le formulaire.
			{% endif %}
		</h3>

		{% for item in pagination %}
			<div>
				<img src="{{ asset('media/offer/' ~ item.media.name ~ ".jpg") }}" alt="">
				<h3>{{ item.title }}</h3>
				<p>{{ item.content }}</p>
				<p>Annonce déposée par :
					{{ item.user.firstname }}
					{{ item.user.name }}</p>
			</div>
		{% endfor %}

		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
